/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */

.big-box{
    max-width: 1300px;
    margin: auto;
}

.container{
    max-width: 1080px;
    margin: auto;
    padding: 150px 0 150px 0;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* DUPLICATE */

.header-sx, .header-dx{
    width: 50%;
    display: inline-block;
    margin: auto;
    padding: 20px;
}

.btn-blue{
    background-color: #0061ff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    transition: box-shadow, 0.5s;
    
}

header .nav-dx, header .nav-dx ul li, header .nav-dx ul, .nav-sx, .nav-sx ul li{
    display: inline-block;
}

.nav-sx ul li a, header .nav-dx ul li a{
    text-decoration: none;
    color: black;
    padding: 25px;
}


.cont-partner, .title-oper{
    margin-top: 150px;
}

/* TYPO */

.hero-col-sx i{
    font-size: 40px;
}

.title-business h2{
    font-size: 35px;
}


.title-hero{
    font-size: 50px;
}

.title-col h4{
    font-weight: 400;
}

.text-col h3{
    padding-bottom: 15px;
}

.text-col h5{
    padding-bottom: 10px;
}

.text-col small{
    display: inline-block;
    padding-bottom: 30px;
    color: gray;
}

.text-col p{
    padding-bottom: 15px;
}

.text-col-oriz h3{
    padding-bottom: 20px;
}

.text-col-oriz h4{
    padding-bottom: 30px;
}

.text-col-oriz p{
    font-size: 14px;
}

.col-txt h2{
    margin-bottom: 30px;
}

.col-txt p{
    line-height: 30px;
}

.title-oper h2{
    font-size: 35px;
}

.col-oper h3{
    line-height: 30px;
}

.partner-title h2{
    margin-bottom: 30px;
}

.partner-title a{
    color: #0061ff;
}

.cont-text-middle p{
    padding: 40px 40px 10px 40px;
}

.box-faq p{
    padding: 30px 0;
}

.bg-sect .container h2{
    color: #61082b;
    font-size: 35px;
}

.faq h3{
    font-size: 25px;
    padding: 20px 0;
}

.col-footer h4{
    padding: 20px 0;
}

.col-footer ul li{
    padding: 5px 0;
    font-weight: 300;
}

/* BACKGROUND */

.bg-hero{
    background-color: #b4d0e7;
    min-height: 700px;
}

header{
    background-color: white;
}

.bg-sect{
    background-color: #b4d0e7;
}

footer{
    background-color: black;
}

/* HEADER */

header{
    width: 100%;
    position: fixed;
    z-index: 10;
}

.header-sx img, .nav-sx ul li, .nav-dx ul li{
    vertical-align: middle;
}

.header-dx{ 
    text-align: right;
}

.nav.dx ul{
    list-style: none;
}


.btn-header{
    vertical-align: middle;
    padding: 5px 15px;
}

/* MAIN */

/* SECTION-HERO */


.title-hero{
    width: 100%;
    position: relative;
    bottom: -60px;
    padding-bottom: 10px;
}

.hero-col-sx{
    display: inline-block;
    float: left;
    width: 30%;
    padding: 0 50px;
    position: relative;
    bottom: -80px;
}

.hero-col-sx p{
    padding-bottom: 30px;
}

.hero-col-dx{
    float: left;
    width: 70%;
}

.hero-col-dx img{
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: -80px;
}

.btn-hero{
    vertical-align: middle;
    padding: 5px 20px;
}

/* SECTION-BUSINESS */

.title-business label{
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-right: 20px;
}

.col{
    float: left;
    border: 1px grey solid;
    min-height: 950px;
    width: calc(33% - 10px);
    margin: 5px;   
}

.title-col{
    border-bottom: 1px grey solid;
    min-height: 20px;
    text-align: center;
    padding: 5px 0;
}

.col i{
    padding-right: 5px;
}

.text-col{
    padding: 30px 20px;
}

.btn-col{
    display: inline-block;
    padding: 7px 78px;
}

.buynow{
    padding: 30px 0;
}

.text-col a {
    text-decoration: none;
    color: #0061ff;
    padding-left: 5px;
}

.col-divider{
    width: 15%;
    margin-bottom: 30px;
}

.text-col li{
    list-style: none;
    padding: 10px 0;
}

.fa-check{
    color: #0061ff;
}

.col-oriz{
    margin-top: 50px;
    width: calc(100% - 16px) ;
    border: 1px grey solid;
    min-height: 225px;
}

.col-oriz-sx{
    float: left;
    width: 71%;

}

.col-oriz-dx{
    float: left;
    width: 29%;

}

.text-col-oriz {
    padding: 30px 0 30px 20px;
}

.btn-oriz{
    width:90%;
    margin-top: 30px;
    padding: 7px 20px;
}

/* SECTION PARTNER DROPBOX */


.col-img, .col-txt{
    margin-top: 150px;
    float: left;
    width: 50%;
}

.col-txt{
    padding: 40px;
}

.col-img img{
    width: 100%;
}

.btn-white{
    border: 1px solid black;
    background-color: white;
    padding: 5px 20px;
    margin-top: 20px;
}

/* OPERATION BUSINESS */

.col-oper{
    float: left;
    width: calc(33% - 30px);
    margin-right: 30px;
}

.col-oper img{
    width: 100%;
}

/* PARTNER DROPBOX */

.partner-title{
    width: 100%;
    margin-top: 150px;
}

/* DROPBOX LOGOS */

.cont-logo{
    width: 100vw;
}

.cont-box{
    float: left;
    width: 25vw;
    height: 25vw;
}

.cont-text-middle{
    float:left;
    width: 50vw;
    height: 25vw;
}

.cont-text-middle img{
    width: 30%;
    padding: 50px 40px 40px 40px;
}

.cont-text-middle hr{
    width: 8%;
    margin-left: 40px;
    color: #dedee0;
}

.block{
    position: relative;
    width: 12.5vw;
    height: 12.5vw;
    display: inline-block;
    vertical-align: top;
}



/* BLOCKS COLORS */

.green{
    background-color: #a2d39b;
}

.darkred{
    background-color: #61082b;
}

.lightblue{
    background-color: #0093ce;
}

.red{
    background-color: #ff1c1c;
}

.red-dx{
    background-color: #d5001f;
}

.lightgrey{
    background-color: #b4d0e7;
}

.blue{
    background-color: #0d2481;
}

.yellow{
    background-color: #ffd830;
}

/* BLOCKS IMG */

.block img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    filter: invert(100%);
}

/* CLICK HERE TO SUB */

.title-sub{
    width: 40%;
    display: inline-block;
}

.button{
    width: 60%;
    text-align: right;
    vertical-align: top;
    display: inline-block;
}

.start-here{
    line-height: 30px;
    padding: 3px 70px;
    color: black;
    background-color: white;
}

/* FAQ */

footer{
    color: white;
}

.box-faq{
    width: 90%;
    display: inline-block;
}

.box-arrow{
    width: 10%;
    display: inline-block;
    text-align: right;
}

/* FOOTER */

.col-footer{
    float: left;
    width: 20%;
    margin: 130px 0;
}

.col-footer ul{
    list-style: none;
}

.col-footer ul li a {
    text-decoration: none;
    color: white;
}

.footer-hr{
    width: 10%;
}

.language{
    margin: 50px 0;
}

.language i{
    padding: 0 5px;
}

.fa-sort-up{
    vertical-align: bottom;
}


/* STYLE */

.nav-sx ul li a:hover, .nav-dx ul li a:hover{
    text-decoration: underline;
    color: black;
}

.buynow:hover{
    text-decoration: underline;
    color: #0061ff;
}

.btn-white:hover, .start-here:hover{
    background-color: black;
    color: white;
}

.block:hover{
    border: 10px solid #d0e9cd;
}

.col-footer ul li a:hover{
    text-decoration: underline;
    color: white;
}

.btn-blue:hover{
    box-shadow: 12px 12px 2px 1px rgba(182, 177, 177, 0.2);
}