/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */

.big-box{
    max-width: 1300px;
    margin: auto;
}

.container{
    max-width: 1080px;
    margin: auto;
    padding: 150px 0 150px 0;
}


.clearfix::after{
    content: "";
    display: table;
    clear: both;
}

/* DUPLICATE */

.header-sx, .header-dx{
    width: 50%;
    display: inline-block;
    margin: auto;
    padding: 20px;
}

.btn-blue{
    background-color: #0061ff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

header .nav-dx, header .nav-dx ul li, header .nav-dx ul, .nav-sx, .nav-sx ul li{
    display: inline-block;
}

.nav-sx ul li a, header .nav-dx ul li a{
    text-decoration: none;
    color: black;
    padding: 25px;
}

/* TYPO */

.hero-col-sx i{
    font-size: 40px;
}

.title-business h2{
    font-size: 35px;
}


.title-hero{
    font-size: 50px;
}

.title-col h4{
    font-weight: 400;
}

.text-col h3{
    padding-bottom: 15px;
}

.text-col h5{
    padding-bottom: 10px;
}

.text-col small{
    display: inline-block;
    padding-bottom: 30px;
    color: gray;
}

.text-col p{
    padding-bottom: 15px;
}

.text-col-oriz h3{
    padding-bottom: 20px;
}

.text-col-oriz h4{
    padding-bottom: 30px;
}

.text-col-oriz p{
    font-size: 14px;
}


/* BACKGROUND */

.bg-hero{
    background-color: #b4d0e7;
    min-height: 700px;
}


/* HEADER */

.header-sx img{
    vertical-align: middle;
}

.nav-sx ul li{
    vertical-align: middle;
}

.header-dx{ 
    text-align: right;
}

.nav.dx ul{
    list-style: none;
}

.nav-dx ul li{
    vertical-align: middle;
}

.btn-header{
    vertical-align: middle;
    padding: 5px 15px;
}

/* MAIN */

/* SECTION-HERO */


.title-hero{
    width: 100%;
    position: relative;
    bottom: -60px;
    padding-bottom: 10px;
}

.hero-col-sx{
    display: inline-block;
    float: left;
    width: 30%;
    padding: 0 50px;
    position: relative;
    bottom: -80px;
}

.hero-col-sx p{
    padding-bottom: 30px;
}


.hero-col-dx{
    float: left;
    display: inline-block;
    width: 70%;
}

.hero-col-dx img{
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: -80px;
}

.btn-hero{
    vertical-align: middle;
    padding: 5px 20px;
}

/* SECTION-BUSINESS */

.title-business label{
    display: inline-block;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-right: 20px;
}

.col{
    float: left;
    width: calc(33% - 10px);
    border: 1px grey solid;
    margin: 5px;
    min-height: 950px;  
}

.title-col{
    border-bottom: 1px grey solid;
    min-height: 20px;
    text-align: center;
    padding: 5px 0;
}

.col i{
    padding-right: 5px;
}

.text-col{
    padding: 30px 20px;
}

.btn-col{
    display: inline-block;
    padding: 7px 78px;
}

.buynow{
    padding: 30px 0;
}

.text-col a {
    text-decoration: none;
    color: #0061ff;
    padding-left: 5px;
}

.col-divider{
    width: 15%;
    margin-bottom: 30px;
}

.text-col li{
    list-style: none;
    padding: 10px 0;
}

.fa-check{
    color: #0061ff;
}

.col-oriz{
    margin-top: 50px;
    width: calc(100% - 16px) ;
    border: 1px grey solid;
    min-height: 225px;
}

.col-oriz-sx{
    float: left;
    width: 71                                                                                                                                                                                                                                                               %;

}

.col-oriz-dx{
    float: left;
    width: 29%;

}

.text-col-oriz {
    padding: 30px 0 30px 20px;
}

.btn-oriz{
    width:90%;
    margin-top: 30px;
    padding: 7px 20px;
}

/* FOOTER */

