/* RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

/* COMMON */


/* DUPLICATE */

.header-sx, .header-dx{
    width: 50%;
    display: inline-block;
    margin: auto;
    padding: 20px;
}

.btn-blue{
    background-color: #0061ff;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
}

header .nav-dx, header .nav-dx ul li, header .nav-dx ul, .nav-sx, .nav-sx ul li{
    display: inline-block;
}

.nav-sx ul li a, header .nav-dx ul li a{
   text-decoration: none;
   color: black;
   padding: 25px;
}

/* TYPO */


/* BACKGROUND */


/* HEADER */

header{
    position: relative;
}

.header-sx img{
    vertical-align: middle;
}

.nav-sx ul li{
    vertical-align: middle;
}

.header-dx{ 
    text-align: right;
}

.nav.dx ul{
    list-style: none;
}

.nav-dx ul li{
    vertical-align: middle;
}

.btn-blue{
    vertical-align: middle;
    padding: 5px 15px;
}

/* MAIN */


/* FOOTER */

